<div class="Navbar">
  <nav class="Navbar-nav" role="navigation" aria-label="main navigation" data-navbar="">
    <div class="Navbar-brand">
      <a class="" href="/" title="Zip Logo">
      </a>
      <button class="Navbar-toggle" aria-label="menu" aria-expanded="false" data-navbar-toggle="">
        <div class="Navbar-icon"></div>
      </button>
    </div>
    <div class="Navbar-menu">
      <div class="Navbar-primary">
        <div class="Navbar-item">
          <a class="Navbar-link" href="/" tabindex="0">
            Welcome to Zip
          </a>
        </div>
        <div class="Navbar-item">
          <a class="Navbar-link" href="/" tabindex="0">
            How it works
          </a>
        </div>
        <div class="Navbar-item">
          <a class="Navbar-link" href="/" tabindex="0">
            Integrations
          </a>
        </div>
        <div class="Navbar-item">
          <a class="Navbar-link" href="/" tabindex="0">
            Pricing
          </a>
        </div>
        <div class="Navbar-item">
          <a class="Navbar-link" href="/" tabindex="0">
            Partners
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
