<section class="section">
  <div class="columns">
    <div class="column">
      <zip-content-card
        image="placeholder"
        title="Increase your traffic"
      >
        Our Store Directory gives you access to almost 1 million customers every month
      </zip-content-card>
    </div>
    <div class="column">
      <zip-content-card
        image="placeholder"
        title="Reach more customers"
      >
        Every week, Zip marketing campaigns drive awareness and sales for our featured partners
      </zip-content-card>
    </div>
    <div class="column">
      <zip-content-card
        image="placeholder"
        title="Measurable results"
      >
        Access real-time sales performance and gain insights to support your business
      </zip-content-card>
    </div>
  </div>
</section>
