<header class="navbar">
  <nav class="navbar-nav" role="navigation" aria-label="main navigation" data-navbar="">
    <div class="navbar-brand">
      <a class="" href="/" title="Zip Logo">
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-primary navbar-start">
          <a class="navbar-item">
            How it works
          </a>
          <a class="navbar-item">
            Integrations
          </a>
          <a class="navbar-item">
            Pricing
          </a>
          <a class="navbar-item">
            Partners
          </a>
        </div>
    </div>
  </nav>
</header>
