<header>
  <nav class="navbar navbar-top" role="navigation" aria-label="main navigation" data-navbar="">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img class="navbar-logo" alt="zip logo" src="https://zip.co/assets/zip/logos/zip/primary.svg" width="110">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-primary navbar-start">
          <a class="navbar-item">
            How it works
          </a>
          <a class="navbar-item">
            Integrations
          </a>
          <a class="navbar-item">
            Pricing
          </a>
          <a class="navbar-item">
            Partners
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
