<footer class="Footer">
  <nav class="Footer-nav container">
    <div class="Footer-nav-col Footer-nav-menu">
      <h5>About</h5>
      <a href="">Company</a>
      <a href="">Careers</a>
      <a href="">Investors</a>
      <a href="">Help & FAQs</a>
    </div>
    <div class="Footer-nav-col Footer-nav-menu">
      <h5>I'm a customer</h5>
      <a href="">How it works</a>
      <a href="">Stores directory</a>
      <a href="">Download the App</a>
      <a href="">Pay bills with Zip</a>
    </div>
    <div class="Footer-nav-col Footer-nav-menu">
      <h5>I'm a buisness</h5>
      <a href="">Sign up</a>
      <a href="">Experiences</a>
      <a href="">Tripwise app</a>
      <a href="">Blog</a>
    </div>
    <div class="Footer-nav-col Footer-nav-menu">
      <h5>Healthcare</h5>
      <a href="">About us</a>
      <a href="">Contact Us</a>
      <a href="">Travel for Change</a>
      <a href="">Affiliates and Partners</a>
      <a href="">Privacy</a>
      <a href="">Site map</a>
    </div>
    <div class="Footer-nav-col Footer-nav-menu">
      <h5>Connect</h5>
      <a href="">About us</a>
      <a href="">Contact Us</a>
      <a href="">Travel for Change</a>
      <a href="">Affiliates and Partners</a>
      <a href="">Privacy</a>
      <a href="">Site map</a>
    </div>
  </nav>
</footer>
