<footer class="footer section">
  <nav class="footer-nav container">
    <div class="columns">
      <div class="column">
        <div class="footer-nav-col footer-nav-menu">
          <p><a href="">About</a></p>
          <p><a href="">Company</a></p>
          <p><a href="">Careers</a></p>
          <p><a href="">Investors</a></p>
          <p><a href="">Help & FAQs</a></p>
        </div>
      </div>
      <div class="column">
        <div class="footer-nav-col footer-nav-menu">
          <p><a href="">I'm a customer</a></p>
          <p><a href="">How it works</a></p>
          <p><a href="">Stores directory</a></p>
          <p><a href="">Download the App</a></p>
          <p><a href="">Pay bills with Zip</a></p>
        </div>
      </div>
      <div class="column">
        <div class="footer-nav-col footer-nav-menu">
          <p><a href="">I'm a buisness</a></p>
          <p><a href="">Sign up</a></p>
          <p><a href="">Experiences</a></p>
          <p><a href="">Tripwise app</a></p>
          <p><a href="">Blog</a></p>
        </div>
      </div>
      <div class="column">
        <div class="footer-nav-col footer-nav-menu">
          <p><a href="">Healthcare</a></p>
          <p><a href="">About us</a></p>
          <p><a href="">Contact Us</a></p>
          <p><a href="">Travel for Change</a></p>
          <p><a href="">Affiliates and Partners</a></p>
          <p><a href="">Privacy</a></p>
          <p><a href="">Site map</a></p>
        </div>
      </div>
      <div class="column">
        <div class="footer-nav-col footer-nav-menu">
          <p><a href="">Connect</a></p>
          <p><a href="">About us</a></p>
          <p><a href="">Contact Us</a></p>
          <p><a href="">Travel for Change</a></p>
          <p><a href="">Affiliates and Partners</a></p>
          <p><a href="">Privacy</a></p>
          <p><a href="">Site map</a></p>
        </div>
      </div>
    </div>
  </nav>
</footer>
