<section class="hero">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column is-two-thirds-desktop">
        <div class="hero-body">
            <h2 class="hero-title title is-size-1">Welcome to Zip</h2>
            <div class="content">
              <p class="is-size-5">Say hello to more sales more often, and over 1 million new opportunities. Zip offers
                a
                better way for customers to pay for your products or services over time, interest free,
                without any risk to you. </p>
            </div>
            <a class="button is-primary" href="">Apply Now</a>
          </div>
        </div>
      <div class="column is-one-third-desktop">
        <div class="section">
          <zip-form></zip-form>
        </div>
      </div>
    </div>
  </div>
</section>
