<div class="card card-form">
  <div class="card-content">
    <p class="title is-left has-text-left has-text-weight-bold is-size-4">
      Find out if your business is eligible in three quick
      steps</p>
    <form [formGroup]="eligibilityForm" (ngSubmit)="onSubmit()">
      <label>
        Business name
        <input class="input" type="text" formControlName="businessName">
      </label>

      <label>
        Email address
        <input class="input" type="email" formControlName="emailAddress">
      </label>

      <label>
        First name
        <input class="input" type="text" formControlName="firstName">
      </label>

      <label>
        Last Name
        <input class="input" type="text" formControlName="lastName">
      </label>

      <label>
        Mobile number
        <input class="input" type="tel" formControlName="mobileNumber">
      </label>
      <article *ngIf="eligibilityForm.invalid && !eligibilityForm.untouched" class="message is-danger">
        <div class="message-body">
         Please review your details
        </div>
      </article>
      <article *ngIf="formSubmitted" class="message is-info">
        <div class="message-body">
          Form submitted
        </div>
      </article>
      <button [disabled]="!eligibilityForm.valid" [ngClass]="{'is-primary':eligibilityForm.valid, 'is-loading': this.loader}" class="button is-rounded button-fullWidth" type="submit">Continue your 3 step check</button>
    </form>
  </div>
</div>
