<zip-header></zip-header>
<body>
  <zip-hero-panel></zip-hero-panel>
  <zip-icons-panel></zip-icons-panel>
  <zip-sub-header></zip-sub-header>

  <zip-content-panel
    title="How it works">
    <zip-tab-panel>
    </zip-tab-panel>
    <div class="section tabs-body">
      <p class="is-size-5">Online or instore, give your customers the power
        to <br> pay their way and see your sales grow.
      </p>
      <div class="columns">
        <div class="column">
          <zip-content-card
            title="Get Ready"
          >
            Apply and you could be accepting Zip within 24 hours. Once you’re approved, we’ll integrate Zip’s free
            plugins to your website, you can also use your Zip dashboard for instore payments.
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            title="Get Set"
          >
            Your customer then chooses selects Zip at checkout, either online or instore. You capture and process the
            purchase as usual.
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            title="Get Paid"
          >
            We pay you directly into your bank account via EFT the next business day,<br> minus the small merchant fee.
            The
            customer pays us back over time so we bear the risk.
          </zip-content-card>
        </div>
      </div>
    </div>
  </zip-content-panel>

  <zip-content-panel
    hasBackground="true"
    title="Integration made easy"
  >With easy integration across every popular platform, you can start taking transactions <br> within hours of getting
    approved. Have a custom integration? Our in house integration <br> team will help you get up and running in no time.
    <div class="section">
      <div class="columns">
        <div class="column">
          <zip-content-card
            image="retail"
            title="Online or instore"
          >
            Integrate Zip into your online checkout, or streamline sales at the register and accept Zip instore.
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            image="magnifying-glass"
            title="Platform not listed?"
          >
            No problem.<br>
            Our system is easily custom fitted to optimise yours.
          </zip-content-card>
        </div>
      </div>
    </div>
  </zip-content-panel>

  <zip-content-panel
    title="Pricing">
    There’s no cost to integrate Zip with your business, we’ll only<br> charge a small fee for each transaction. The more
    your customers pay with Zip, the cheaper it gets.<br> Get in touch with sales to find out more about pricing.
    <div class="section">
      <div class="columns">
        <div class="column">
          <zip-content-card
            image="cloud"
            title="Free integration"
          >
            No matter your platform, there’s no cost to integrate Zip with your business.
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            image="pen"
            title="Merchant fee"
          >
            You'll be charged a small merchant fee depending on the interest free period offered to your customers.
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            image="arrows"
            title="Transaction fee"
          >
            At a maximum of 30c ex GST per sale, our transaction fee becomes cheaper the more your customers pay with
            Zip.
          </zip-content-card>
        </div>
      </div>
    </div>
  </zip-content-panel>

  <zip-content-panel
    hasBackground="true"
    title="You'll be in good company">
    Join over 14,000 partners offering over 1 million Zip customers a better way to pay.
    <div class="section">
      <div class="columns">
        <div class="column">
          <zip-content-card
            title="Retail"
          >
            Partner logos go here
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            title="Health"
          >
            Partner logos go here
          </zip-content-card>
        </div>
      </div>
    </div>
  </zip-content-panel>
  <zip-cta-panel
    title="Ready to roll?"
    buttonText="Apply now">
    Get in touch to see if your business is eligible.
  </zip-cta-panel>
</body>
<zip-footer></zip-footer>
