<!--The content below is only a placeholder and can be replaced.-->
<zip-header></zip-header>
<main>
  <zip-hero-panel></zip-hero-panel>
  <zip-icons-panel></zip-icons-panel>
  <zip-sub-header></zip-sub-header>
  <zip-content-panel
    title="How it works"
  ></zip-content-panel>
  <zip-content-panel
    title="Integration made easy"
  >With easy integration across every popular platform, you can start taking transactions within hours of getting
    approved. Have a custom integration? Our in house integration team will help you get up and running in no time.
    <div class="section">
      <div class="columns">
        <div class="column">
          <zip-content-card
            title="Online or instore"
          >
            Integrate Zip into your online checkout, or streamline sales at the register and accept Zip instore.
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            title="Platform not listed?"
          >
            No problem.<br>
            Our system is easily custom fitted to optimise yours.
          </zip-content-card>
        </div>
      </div>
    </div>
  </zip-content-panel>

  <zip-content-panel title="Pricing">
    There’s no cost to integrate Zip with your business, we’ll only charge a small fee for each transaction. The more
    your customers pay with Zip, the cheaper it gets. Get in touch with sales to find out more about pricing.
  </zip-content-panel>
  <zip-content-panel title="You'll be in good company">
    Join over 14,000 partners offering over 1 million Zip customers a better way to pay.
    <div class="section">
      <div class="columns">
        <div class="column">
          <zip-content-card
            title="Retail"
          >
            Partner logos go here
          </zip-content-card>
        </div>
        <div class="column">
          <zip-content-card
            title="Health"
          >
            Partner logos go here
          </zip-content-card>
        </div>
      </div>
    </div>
  </zip-content-panel>
  <zip-cta-panel
  title="Ready to roll?"
  buttonText="Apply now">
    Get in touch to see if your business is eligible.
  </zip-cta-panel>
</main>
<zip-footer></zip-footer>
