.navbar {
  &-top {
    background-color: $teal;
    padding: 5rem 0 2rem 3rem;
  }

  &-logo {
    background-color: white;
    border-radius: 25px;
    padding: 0.75rem 0.25rem;
    box-sizing: content-box;
  }

  &-item {
    margin-right: 2rem;
    color: $white;

  }
}
