.navbar {
  &-top {
    padding: 3rem 0 0 1rem;
    background-color: $teal;
  }

  &-logo {
    background-color: white;
    border-radius: 25px;
    padding: 0.75rem 0.25rem;
    box-sizing: content-box;
  }

  &-item {
    margin-right: 2rem;
    color: $white;

  }
}
